<div class="row">
    <div class="col-3">
        <ngb-accordion activateId="ngb-panel-0">
            <ngb-panel>
                <ng-template ngbPanelTitle>
                    <strong>
                        <fa-icon [icon]="faUser"></fa-icon>
                        Matt DeLucas
                    </strong>
                </ng-template>
                <ng-template ngbPanelContent>
                    <ul class="list-unstyled">
                        <li>
                            <fa-icon [icon]="faNewspaper"></fa-icon>
                            Post 1
                            <small class="pull-left">Posted - {{ postDate | date:'shortDate' }}</small>
                        </li>
                        <li>
                            <fa-icon [icon]="faNewspaper"></fa-icon>
                            Post 2
                            <small class="pull-left">Posted - {{ postDate | date:'shortDate' }}</small>
                        </li>
                        <li>
                            <fa-icon [icon]="faNewspaper"></fa-icon>
                            Post 3
                            <small class="pull-left">Posted - {{ postDate | date:'shortDate' }}</small>
                        </li>
                    </ul>
                </ng-template>
            </ngb-panel>
            <ngb-panel>
                <ng-template ngbPanelTitle>
                    <strong>
                        <fa-icon [icon]="faUser"></fa-icon>
                        Brandon Bittner
                    </strong>
                </ng-template>
                <ng-template ngbPanelContent>
                    <ul class="list-unstyled">
                        <li>
                            <fa-icon [icon]="faNewspaper"></fa-icon>
                            Post 4
                            <small class="pull-left">Posted - {{ postDate | date:'shortDate' }}</small>
                        </li>
                        <li>
                            <fa-icon [icon]="faNewspaper"></fa-icon>
                            Post 5
                            <small class="pull-left">Posted - {{ postDate | date:'shortDate' }}</small>
                        </li>
                        <li>
                            <fa-icon [icon]="faNewspaper"></fa-icon>
                            Post 6
                            <small class="pull-left">Posted - {{ postDate | date:'shortDate' }}</small>
                        </li>
                    </ul>
                </ng-template>
            </ngb-panel>
            <ngb-panel>
                <ng-template ngbPanelTitle>
                    <strong>
                        <fa-icon [icon]="faUser"></fa-icon>
                        Mallory Moore
                    </strong>
                </ng-template>
                <ng-template ngbPanelContent>
                    <ul class="list-unstyled">
                        <li>
                            <fa-icon [icon]="faNewspaper"></fa-icon>
                            Post 7
                            <small class="pull-left">Posted - {{ postDate | date:'shortDate' }}</small>
                        </li>
                        <li>
                            <fa-icon [icon]="faNewspaper"></fa-icon>
                            Post 8
                            <small class="pull-left">Posted - {{ postDate | date:'shortDate' }}</small>
                        </li>
                        <li>
                            <fa-icon [icon]="faNewspaper"></fa-icon>
                            Post 9
                            <small class="pull-left">Posted - {{ postDate | date:'shortDate' }}</small>
                        </li>
                    </ul>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </div>
    <div class="col-9">
        <router-outlet></router-outlet>
    </div>
</div>


<a routerLink="">Home</a>
