<div class="row">
    <div class="col-3">
        <button (click)="open_modal(modal)" class="btn btn-block btn-primary">
            <fa-icon [icon]="faPlus"></fa-icon>
            Create new Post
        </button>
        <ngb-accordion activateId="ngb-panel-0">
            <ngb-panel>
                <ng-template ngbPanelTitle>
                    <strong>
                        <fa-icon [icon]="faUser"></fa-icon>
                        Matt DeLucas
                    </strong>
                </ng-template>
                <ng-template ngbPanelContent>
                    <ul class="list-unstyled">
                        <li>
                            <fa-icon [icon]="faNewspaper"></fa-icon>
                            Post 1
                            <small class="pull-left">Posted - {{ postDate | date:'shortDate' }}</small>
                        </li>
                        <li>
                            <fa-icon [icon]="faNewspaper"></fa-icon>
                            Post 2
                            <small class="pull-left">Posted - {{ postDate | date:'shortDate' }}</small>
                        </li>
                        <li>
                            <fa-icon [icon]="faNewspaper"></fa-icon>
                            Post 3
                            <small class="pull-left">Posted - {{ postDate | date:'shortDate' }}</small>
                        </li>
                    </ul>
                </ng-template>
            </ngb-panel>
            <ngb-panel>
                <ng-template ngbPanelTitle>
                    <strong>
                        <fa-icon [icon]="faUser"></fa-icon>
                        Brandon Bittner
                    </strong>
                </ng-template>
                <ng-template ngbPanelContent>
                    <ul class="list-unstyled">
                        <li>
                            <fa-icon [icon]="faNewspaper"></fa-icon>
                            Post 4
                            <small class="pull-left">Posted - {{ postDate | date:'shortDate' }}</small>
                        </li>
                        <li>
                            <fa-icon [icon]="faNewspaper"></fa-icon>
                            Post 5
                            <small class="pull-left">Posted - {{ postDate | date:'shortDate' }}</small>
                        </li>
                        <li>
                            <fa-icon [icon]="faNewspaper"></fa-icon>
                            Post 6
                            <small class="pull-left">Posted - {{ postDate | date:'shortDate' }}</small>
                        </li>
                    </ul>
                </ng-template>
            </ngb-panel>
            <ngb-panel>
                <ng-template ngbPanelTitle>
                    <strong>
                        <fa-icon [icon]="faUser"></fa-icon>
                        Mallory Moore
                    </strong>
                </ng-template>
                <ng-template ngbPanelContent>
                    <ul class="list-unstyled">
                        <li>
                            <fa-icon [icon]="faNewspaper"></fa-icon>
                            Post 7
                            <small class="pull-left">Posted - {{ postDate | date:'shortDate' }}</small>
                        </li>
                        <li>
                            <fa-icon [icon]="faNewspaper"></fa-icon>
                            Post 8
                            <small class="pull-left">Posted - {{ postDate | date:'shortDate' }}</small>
                        </li>
                        <li>
                            <fa-icon [icon]="faNewspaper"></fa-icon>
                            Post 9
                            <small class="pull-left">Posted - {{ postDate | date:'shortDate' }}</small>
                        </li>
                    </ul>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </div>



    <ng-template #modal let-c="close">
        <div class="modal-header">
            <h4 class="modal-title">New Post</h4>
            <button type="button" class="close" aria-label="CLose" (click)="c()">
                <fa-icon [icon]="faTimes"></fa-icon>
            </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                    <label for="formGroupExampleInput">Title</label>
                    <input type="text" class="form-controll" name="formGroupExampleInput" id="formGroupExampleInput"
                        placeholder="New Blog Post Title">
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary"
                (click)="c()">Cancel</button>
                <button type="button" class="btn btn-primary">Submit</button>
        </div>
    </ng-template>



    <div class="col-9">
        <router-outlet></router-outlet>
    </div>
</div>


<a routerLink="">Home</a>
