<div class="row">
    <div class="col-3">
        <ngb-accordion activateId="ngb-panel-0">
            <ngb-panel>
                <ng-template ngbPanelTitle>
                    <strong>
                        <fa-icon [icon]="faUser"></fa-icon>
                        Matt DeLucas
                    </strong>
                </ng-template>
                <ng-template ngbPanelContent>
                    <ul class="list-unstyled">
                        <li>
                            <fa-icon [icon]="faNewspaper"></fa-icon>
                            Post 1
                        </li>
                        <li>
                            <fa-icon [icon]="faNewspaper"></fa-icon>
                            Post 2
                        </li>
                        <li>
                            <fa-icon [icon]="faNewspaper"></fa-icon>
                            Post 3
                        </li>
                    </ul>
                </ng-template>
            </ngb-panel>
            <ngb-panel>
                <ng-template ngbPanelTitle>
                    <strong>
                        <fa-icon [icon]="faUser"></fa-icon>
                        Brandon Bittner
                    </strong>
                </ng-template>
                <ng-template ngbPanelContent>
                    <ul class="list-unstyled">
                        <li>
                            <fa-icon [icon]="faNewspaper"></fa-icon>
                            Post 4
                        </li>
                        <li>
                            <fa-icon [icon]="faNewspaper"></fa-icon>
                            Post 5
                        </li>
                        <li>
                            <fa-icon [icon]="faNewspaper"></fa-icon>
                            Post 6
                        </li>
                    </ul>
                </ng-template>
            </ngb-panel>
            <ngb-panel>
                <ng-template ngbPanelTitle>
                    <strong>
                        <fa-icon [icon]="faUser"></fa-icon>
                        Mallory Moore
                    </strong>
                </ng-template>
                <ng-template ngbPanelContent>
                    <ul class="list-unstyled">
                        <li>
                            <fa-icon [icon]="faNewspaper"></fa-icon>
                            Post 7
                        </li>
                        <li>
                            <fa-icon [icon]="faNewspaper"></fa-icon>
                            Post 8
                        </li>
                        <li>
                            <fa-icon [icon]="faNewspaper"></fa-icon>
                            Post 9
                        </li>
                    </ul>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </div>
    <div class="col-9">
        <router-outlet></router-outlet>
    </div>
</div>


<a routerLink="">Home</a>
